
  .tableWrap {

    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: space-between;
    color: #173F5F;
  }



table th, table td{
    border: 1px solid black;
    text-align: center;
    padding: 15px 40px;
    font-size: larger;
    color: #fff;
    background: linear-gradient(135deg, #007bff, #004a99);
}

table th{
    color: black;
}

table{

    border-collapse: collapse;
    margin-top: 20px;
}

input{

    padding:10px;
    margin-right: 5px;
}

.addForm button{

    width: 100px;
    padding: 5px;
    color: white;
    background-color: #173F5F;
}
.edit{
    color: white;
    margin-right: 5px;
    background-color: green;
}

.edit:hover{

    background-color:#fff;
    color: #007bff;

}

.delete{
    color: white;
    background-color:#173F5F;
}

.delete:hover{
  
    background-color:#fff;
    color: #007bff;
}